{% extends "index.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" class="m-3" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ current_user.email }}</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg mt-3") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.street_address.label(class="form-control-label") }}
                    {{ form.street_address(class="form-control form-control-lg mt-3")}}
                </div>
                <div class="form-group">
                    {{ form.city_address.label(class="form-control-label") }}
                    {{ form.city_address(class="form-control form-control-lg mt-3")}}
                </div>
                <div class="form-group">
                    {{ form.state_address.label(class="form-control-label") }}
                    {{ form.state_address(class="form-control form-control-lg mt-3")}}
                </div>
                <div class="form-group">
                    {{ form.zip_code.label(class="form-control-label") }}
                    {{ form.zip_code(class="form-control form-control-lg mt-3")}}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <div>
            <a href="{{ url_for('cart') }} ">
                  <button class='btn btn-primary'>
                      Cart
                  </button>
            </a>
        </div>
    </div>
{% endblock content %}