{% extends "index.html" %}
{% block content %}
<div class="content-section">
        <h2> User Cart </h2>
        {% for record in user_cart.get_cart() %}
            <div>
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="#" style="text-decoration: underline; text-decoration-color: lightskyblue;" >
                                <h2> {{ record['record_id'] }}: {{ record['record_name'] }} </h2>
                            </a>
                            <h4 class="text-muted"> Genre: {{ record['record_genre'] }} </h4>
                            <h4 class="text-muted"> Price: {{ record['record_price'] }} </h4>
                            <h4 class="text-muted"> Artist: {{ record['artist_name'] }} </h4>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
        <h3> Total Cost: ${{ user_cart.get_cart_cost() }}</h3>
</div>
{% endblock %}