{% extends "index.html" %}
{% block content %}
    <div class="content-section text-center">
        <h1 class="m-5 h1"> Add an Employee! </h1>
        <div>
            <form method="POST" action="" id="search-form" class="m-5">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.first_name.label(class="mb-3") }}
                    {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.first_name(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.last_name.label(class="mb-3") }}
                    {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.last_name(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.birth_date.label(class="mb-3") }}
                    {% if form.birth_date.errors %}
                        {{ form.birth_date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.birth_date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                    {{ form.birth_date(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.street_address.label(class="mb-3") }}
                    {% if form.street_address.errors %}
                    {{ form.street_address(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.street_address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.street_address(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.city_address.label(class="mb-3") }}
                    {% if form.city_address.errors %}
                    {{ form.city_address(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.city_address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.city_address(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.state_address.label(class="mb-3") }}
                    {% if form.state_address.errors %}
                    {{ form.state_address(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.state_address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.state_address(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.zip_address.label(class="mb-3") }}
                    {% if form.zip_address.errors %}
                    {{ form.zip_address(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.zip_address.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.zip_address(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.phone_number.label(class="mb-3") }}
                    {% if form.phone_number.errors %}
                    {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.phone_number(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.job_title.label(class="mb-3") }}
                    {% if form.job_title.errors %}
                    {{ form.job_title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.job_title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.job_title(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="mb-3") }}
                    {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.store_id.label(class="mb-3") }}
                    {% if form.store_id.errors %}
                    {{ form.store_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.store_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.store_id(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.salary.label(class="mb-3") }}
                    {% if form.salary.errors %}
                    {{ form.salary(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.salary.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.salary(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.hourly_rate.label(class="mb-3") }}
                    {% if form.hourly_rate.errors %}
                    {{ form.hourly_rate(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.hourly_rate.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.hourly_rate(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary mt-2") }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}