{% extends "index.html" %}
{% block content %}
    <div class="content-section text-center">
        <h1 class="m-5 h1"> Inventory Access Page </h1>
        <div>
            <form method="POST" action="" id="search-form" class="m-5">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.search_type.label(class="mb-3") }}
                    {% if form.search_type.errors %}
                    {{ form.search_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    {{ form.search_type(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary mt-2") }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}