{% extends "index.html" %}
{% block content %}
    <h1 class="text-center"> Orders </h1>
    <hr>
	
	
	{% if not orders %}
		<h4 class='text-muted'> Uh-Oh! Looks like you don't have any orders yet. </h4>
		<a href="{{ url_for('add_order') }} ">
          <button class='btn btn-primary'>
              New Order
          </button>
        </a>

	
	{% else %}
		
		<h4 class='text-muted'> 
		Your orders are displayed below. To create a new order, click the 
		"New Order" button. You can also modify an order by clicking on it. 
	
		</h4>
		<hr>
		
		<h4> There are a total of {{ count }} orders. </h4> 
		<a href="{{ url_for('add_order') }} ">
          <button class='btn btn-primary'>
              New Order
          </button>
        </a>
		
		<hr>
		
		{% for order in orders %}
			<article class="media content-section">
				<div class="media-body">
					<div class="article-metadata">
						
						<a class="mr-2" href="{{ url_for('order', order_id=order.order_id) }}" style="text-decoration: underline; text-decoration-color: lightskyblue;" >
						<h2> Order ID: {{ order.order_id }} </h2>
						<h2> Date: {{ order.order_date }} </h2>
						<h2> Created by User: {{ order.email }} </h2>
						<h2> Store: {{ order.store_name }}</h2>
						</a>
					</div>
			  </div>
			</article>
		 {% endfor %}
	{% endif %}
	
	<hr> 
	
     <div>
        <a href="{{ url_for('home') }} ">
          <button class='btn btn-primary'>
              Go Back
          </button>
        </a>

     </div>
{% endblock content %}