{% extends "index.html" %}
{% block content %}
    <h1> Order Page </h1>
    <hr>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('home')}}" style="text-decoration: underline; text-decoration-color: lightskyblue;" >
                <h2> Order: {{ order.order_id }} </h2>
              </a>
              <h4 class="text-muted"> Date: {{ order.order_date }} </h4>
              <h4 class="text-muted"> User: {{ order.user_id }} </h4>
              <h4 class="text-muted"> Store: {{ order.store_id }} </h4>
              <div>
                  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_order', order_id=order.order_id) }}">Update</a>
                  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('delete_order', order_id=order.order_id) }}">Delete</a>
              </div>
            </div>
          </div>
        </article>
     <div>
        <a href="{{ url_for('home') }} ">
          <button class='btn btn-primary'>
              Go Back
          </button>
        </a>

     </div>
{% endblock content %}