{% extends "index.html" %}
{% block content %}
    <h1> Record Inventory </h1> 
    <hr> 
    {% for record in records %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#" style="text-decoration: underline; text-decoration-color: lightskyblue;" > 
                <h2> {{ record['record_id'] }}: {{ record['record_name'] }} </h2>    
              </a>
              <h4 class="text-muted"> Genre: {{ record['record_genre'] }} </h4>
              <h4 class="text-muted"> Artist: {{ record['artist_name'] }} </h4>
              
            </div>
          </div>
        </article>
     {% endfor %}
     <div>
        <a href="{{ url_for('home') }} ">
          <button class='btn btn-primary'> 
              Go Back 
          </button>
        </a>

     </div>
{% endblock content %}