{% extends "index.html" %}
{% block content %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>
                    Search for Records!
                </legend>
                <div class="form-group">
                    {{ form.record_name.label }}
                    {% if form.record_name.errors %}
                        {{ form.record_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.record_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.record_name(class="form-control form-control-lg") }}
                    {% endif %}
                    {{ form.record_name }}
                </div>
            </fieldset>
            <div>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}