{% extends "index.html" %}
{% block content %}
        <div>
            <form method="POST" action="" id="search-form" class="m-5">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.record.label(class="mb-3") }}
                    {{ form.record(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.record_submit(class="btn btn-primary mt-2") }}
                </div>
            </form>
        </div>
{% endblock content %}